@font-face{
    font-family: "LinLibertine_R";
    src: url("../fonts/linux_libertine/LinLibertine_R.ttf");
}

@font-face{
    font-family: "LinLibertine_RB";
    src: url("../fonts/linux_libertine/LinLibertine_RB.ttf");
}

@font-face{
    font-family: "Quicksand_Bold";
    src: url("../fonts/quicksand/Quicksand_Bold.otf");
}

@font-face{
    font-family: "Quicksand_Book";
    src: url("../fonts/quicksand/Quicksand_Book.otf");
}

@font-face{
    font-family: "Quicksand_Book_Oblique";
    src: url("../fonts/quicksand/Quicksand_Book_Oblique.otf");
}

#opt
{
  text-decoration: none;
  color:#CCCCCC;
  transition: color 0.3s ease;
  -webkit-transition: color 0.3s ease;
  -moz-transition: color 0.3s ease;
 
}

#opt:hover
{
   color:#59431B;
  text-decoration: none;
  
}



#menuToggle
{
  display: block;
  position: fixed;
  top: 60px;
  right: 7%;
  
  z-index: 2;
  
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: white;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */


#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #584219;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  opacity: 1;
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
.menu-check:checked ~ .menu-box{
  display:block;
  visibility: visible;
  -webkit-transition: opacity 600ms, visibility 600ms;
  transition: opacity 600ms, visibility 600ms;
}
.menu-box{
  display:none;
  visibility: hidden
}
#menu
{
  position: absolute;
  width: 500px;
  margin: -100px 0 0 0;
  padding: 50px;
  padding-top: 150px;
  
  right: -140px;
  height:105vh;
  
  background: #E6E6E6;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  
  transform-origin: 0% 0%;
  transform: translate(100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  overflow-x: hidden;
  
  
}

#menu li
{
  padding: 10px 0;
  font-size:calc(16pt + (26 - 16) * ((100vw - 300px) / (1600 - 300)));
  font-family:"LinLibertine_RB";
  padding-left:30px;
  
}

#menu img{
    width:20%;
}

/*
 * And let's fade it in from the left
 */
#menuToggle input:checked ~ ul
{
  transform: scale(1.0, 1.0);
  opacity: 1;
}

#img img{
  padding-left:25px;  
}

.imglogo {
    display: block;
  position: absolute;
  top: 50px;
  left: 7%;
  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
  
}
.imglogo img{
    width:40px;
    height:40px;
}

html{
    scroll-behavior: smooth;
    overflow-x: hidden;
    height:100%;
}
#return-to-top {
    position: fixed;
    bottom: 100px;
    right: 20px;
    background: rgb(119, 161, 64);
    background: rgba(119, 161, 64, 0.7);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    z-index:99999999999999999999999999;
}
#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top:hover {
    background: rgba(119, 161, 64, 0.9);
}
#return-to-top:hover i {
    color: #fff;
    top: 5px;
}

body{
    background-color:white;
    height:100%;
}

.container-fluid{
    margin:0;
}



.fne-head{
    margin: 0;
    padding: 0;
    background: url("../img/FNE-Head.png");
    background-repeat:no-repeat;
    background-size:cover;
    background-position: center;
    width:100%;
    height:878.4px;
    position:relative;
    overflow-x: hidden;
}

#row-title {
    
    position:absolute;
    top:50%;
    left:50%;  
    transform: translate(-50%,-50%); 
    margin-left:0;
    margin-right:0;
    
    
    
}

.fne-lbl p{
    position:absolute;
    bottom:5%;
    right:7%;
    color:white;
    width:20%;
    font-size:calc(8pt + (9 - 8) * ((100vw - 300px) / (1600 - 300)));
    
    font-weight:500;
    text-align:right;
}
#row-title img{
    width:100%;
    height:auto;
}

.Title h2{
    font-family: "Quicksand_Bold";
    color:#77A140;
    text-align: center;
    font-size:calc(30pt + (100 - 30) * ((100vw - 300px) / (1600 - 300)));
    
}

.Title p {
    font-family: "Quicksand_Bold";
    color:#77A140;
    text-align: center;
    font-size:calc(12pt + (22 - 12) * ((100vw - 300px) / (1600 - 300)));
      
}

#cont-1 h2{
    font-family: "LinLibertine_R";
    font-size:calc(24pt + (60 - 24) * ((100vw - 300px) / (1600 - 300)));
    color:black;
    text-align:center;
    margin-left:20%;
    margin-right:20%;
}

#cont-1 p{
    font-family: "Quicksand_Book";
    color:#4D4C4D;
    text-align:justify;
    text-align-last: center;
    font-size:calc(12pt + (16 - 12) * ((100vw - 300px) / (1600 - 300)));
    margin-left:20%;
    margin-right:20%;
}

#cont-1 h3{
    font-family: "LinLibertine_R";
    font-size:calc(24pt + (48 - 24) * ((100vw - 300px) / (1600 - 300)));
    color:black;
    text-align:center;
}

.image-highlight{
    position:relative;
}

.txt-last p{
    margin-right:20%;
    margin-left:20%;
    font-family:"Quicksand_Light_Oblique";
    font-size:calc(12pt + (16 - 12) * ((100vw - 300px) / (1600 - 300)));
    color:#4D4C4D;
    margin-top:50px;
    margin-bottom:50px;
    text-align:justify;

}

#c3-inf-2{
    margin-right:5%;
    margin-left:5%;
}
img.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:95%;
    height:auto;
    
}
.img-inf p{
    margin-top:10px;
    display: block;
    margin-left: auto;
    margin-right: auto;  
    width:95%;
    font-family: "Quicksand_Book_Oblique";
    color:#4D4C4D;
    text-align: justify;
    font-size:calc(10pt + (14 - 10) * ((100vw - 300px) / (1600 - 300)));
    margin-bottom:50px;
}

.key-people{
    margin-right:7%;
    margin-left:7%;
    padding-top:1%;
    padding-bottom:1%;
    border-top:2px solid black;
    border-bottom:2px solid black;
    margin-bottom:50px;
}

.key-people .row{
    margin-left:1%;
    margin-right:1%;
    
}

.key-people .kp-txt{
    font-family: "LinLibertine_R";
    color:black;
    font-size:calc(16pt + (24 - 16) * ((100vw - 300px) / (1600 - 300)));
    text-align: left;
    
    
}

.key-people .kp-img{
    text-align: right;
  
}

#footlink{
    text-decoration: none;
    color:white;
  }

.footer{
    background-color: black;
    margin:0;
    padding:0;
    
}
#footer-1 p{
    color:white;
    font-family: "Quicksand_Book";
    font-size:calc(7pt + (12 - 7) * ((100vw - 300px) / (1600 - 300)));
    display:inline-block;
}
#footer-1 {
    
    margin-left:7%;
    margin-right:7%;
    padding-top:5px;
    padding-bottom:5px;
}
pre{
    width:5px;
    height:2px;
    display:inline-block;
    visibility: hidden;
}

.logo-foot{
     
    float:right;
}

@media (max-width: 575.98px) {

    
    #menu li
    {
  
        padding-left:10px;
  
    }
    #footer-1 p{
        
        display:inline-block;
    }
    pre{
        
        display:inline-block;
        
    }

    .logo-foot{
     
        float:right;
    }
    #menu{
        width:315px;
        right:-50px;
        
    }
    #menuToggle
    {
        right:25px;
    }

    .imglogo {
      
     
      left: 25px;
      
      
    }

    .key-people{
        padding-top:5%;
        padding-bottom:5%;
    }

    .key-people .kp-txt{
        text-align:center;
    }
    .key-people .content-img{
        text-align:center;
        
      
    }
    .fne-lbl p{
        width:85%;
    }
}

